<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> PhotoApp </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-photo-filter (valueChanges)="valueChanges($event)"></app-photo-filter>

  <ng-container *ngIf="photoDataDisplayed.length; else: noPhotos">
    <ion-row class="app-home-page__photo-container">
      <ng-container
        *ngFor="let photo of photoDataDisplayed; trackBy: trackByFn"
      >
        <ion-col size="12" sizeMd="6" sizeXl="4">
          <app-photo-card
            class="app-home-page__photo"
            [photo]="photo"
          ></app-photo-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ng-container>

  <ng-template #noPhotos>
    <ion-row class="app-home-page__photo-container--error" data-cy="no-results">
      <ion-col size="12">
        <app-photo-card
          class="app-home-page__photo"
          [photo]="photoError"
        ></app-photo-card>
      </ion-col>
    </ion-row>
  </ng-template>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando contenido"
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
