<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> PhotoApp </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Title</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-item *ngFor="let photo of photos; trackBy: trackByFn">
    <span>{{photo.id}}</span>
  </ion-item>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Cargando contenido">
   
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <div id="container">
    <app-photo-card></app-photo-card>
    <app-photo-filter></app-photo-filter>
  </div>
</ion-content>
