.app-home-page {
  &__photo {
    width: 100%;

    &-container {
      &--error {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
