@import '../../../../../theme/mixins';

.app-photo-card {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 10px;

    &__title {
        display: flex;
        font-size: 22px;
        justify-content: center;

        @include tabletSize {
            font-size: 18px;
        }

        @include desktopSize {
            font-size: 14px;
        }
    }

    &__figure {
        margin: 0;
        max-width: 500px;
        position: relative;
    }

    &__caption {
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 4px;
        color: white;
        left: 0;
        padding: 10px;
        position: absolute;
        right: 0;
    }
}
